<!doctype html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Link Encryption</title>
	
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>

<h1>Link Encryption</h1>

<body>

<div class="main"  >
	<form class="pure-form" method="POST" action="/"  >
	<br>
	<br>
	Link to be Encrypted:
	<h6>    </h6>
	<input type="text" name="link">
	<h6>    </h6>
	<h6>    </h6>
	<button type="submit" class="pure-button pure-button-primary" value="Submit" >Encrypt</button>
	</form>
</div>

<br>

<div class="main">
	<form class="pure-form" method="POST" action="/copied"  ></form>
	{% if en_text %}
	    <p>
		{% print("{}".format(en_text)) %}<br>
		
		<h4>    </h4>
		
		<button type="submit" class="pure-button pure-button-primary" value="copy" >Token copied</button>
		
        </p>
	{% endif %}
</form>

</div>

</body>